aiohttp==3.9.1
alembic==1.13.1
apscheduler==3.10.4
ccxt==4.2.25
numpy==1.26.3
pandas==2.1.4
pandas-ta==0.3.14b
python-binance==1.0.19
python-dotenv==1.0.0
python-telegram-bot==20.7
pytz==2024.1
pyyaml==6.0.1
sqlalchemy==2.0.25
websockets==12.0
